<div class="container text-center p-1 text-primary-emphasis  border border-primary-subtle rounded-3 containerPPL">
    <!--contenido-->
    <div class="row ">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <!--Form-->
                    <div class="container mt-4 ">
                        <div class="row justify-content-center">
                            <div class="col-md-12">
                                <div class=" p-3 text-primary-emphasis  border border-primary-subtle rounded-3">
                                    <div class="card-body ">
                                        <h2 class="card-title ">Añadir Alimentación</h2>
                                        <div class="mb-3">
                                            <label for="description" class="form-label">Descripción:</label>
                                            <input type="text" id="description" class="form-control"
                                                [(ngModel)]="newNutrition.Description" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="dose" class="form-label">Dosis:</label>
                                            <input type="number" id="dose" class="form-control"
                                                [(ngModel)]="newNutrition.Dose" required>
                                        </div>
                                        <button class="btn btn-primary" (click)="addNutrition()">Agregar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12"></div>
            </div>
            <div class="row p-3" *ngIf="nutritionArray && nutritionArray.length > 0">
                <div class="col-xs-1"></div>
                <div class="col-xs-10 col-md-12 text-primary-emphasis  border border-primary-subtle rounded-3">
                    <!--list-->
                    <table class="table  " >
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th>Descripción</th>
                                <th>Dosis</th>
                                <th>acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let nutrition of nutritionArray; let i = index">
                                <th scope="row">{{ i + 1 }}</th>
                                <td>{{ nutrition.Description }}</td>
                                <td>{{ nutrition.Dose }}</td>
                                <td class="d-inline-flex gap-1">
                                    <button (click)="loadData(nutrition)" class="btn btn-warning me-1 " data-bs-toggle="modal"
                                        data-bs-target="#modalUpdate">Editar</button>
                                    <button (click)="modalDelete(nutrition)" class="btn btn-danger"
                                        data-bs-toggle="modal" data-bs-target="#modalDelete">Eliminar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-1"></div>
            </div>
            <div class="row" *ngIf="selectedNutrition">
                <div class="col-md-0"></div>
                <div class="col-md-12">
                    <!--Form UPDATE-->
                    <div *ngIf="selectedNutrition" class="modal fade " id="modalUpdate" data-bs-backdrop="static"
                        data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Actualizar Alimentación</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="container mt-4">
                                        <div class="row justify-content-center">
                                            <div class="col-md-12">
                                                <div class="card">
                                                    <div class="card-body ">
                                                        <div class="mb-3">
                                                            <label for="description"
                                                                class="form-label">Descripción:</label>
                                                            <input type="text" id="edit-description" id="description"
                                                                class="form-control"
                                                                [(ngModel)]="selectedNutrition.Description" required>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="dose" class="form-label">Dosis:</label>
                                                            <input type="number" id="edit-dose" id="dose"
                                                                class="form-control"
                                                                [(ngModel)]="selectedNutrition.Dose" required>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                        (click)="limpiarSelectedNutrition()">Cancelar</button>
                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                                        (click)="editNutrition()">Editar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-0"></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- Eliminar -->
                    <div class="modal fade " id="modalDelete" data-bs-backdrop="static" data-bs-keyboard="false"
                        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Eliminar</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <h3>¿Estas seguro que deseas eliminar?</h3>
                                </div>
                                <div class="modal-footer">
                                    <button (click)="limpiarSelectedNutrition()" type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cancelar</button>
                                    <button (click)="deleteNutrition()" type="button" class="btn btn-danger"
                                        data-bs-dismiss="modal">Eliminar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>