<div class="container text-center p-1 text-primary-emphasis  border border-primary-subtle rounded-3"> 
    <div class="row " *ngIf="clienteAray && clienteAray.length > 0">
        <div class="col-md-2"></div>
        <div class="col-md-8 text-center  text-primary-emphasis  border border-primary-subtle rounded-3">
            <div class="row  p-3">
                <div class="col-md-6">
                    <label for="cedula" class="form-label">Reporte de Clientes:</label>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-info btn-block" (click)="generateExcelClient()">Generar</button>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row" *ngIf="porcinoArray && porcinoArray.length > 0">
        <div class="col-md-2" ></div>
        <div class="col-md-8 text-center p-1 text-primary-emphasis  border border-primary-subtle rounded-3">
            <div class="row  p-3">
                <div class="col-md-6">
                    <label for="cedula" class="form-label">Reporte de porcinos:</label>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-info btn-block" (click)="generateExcelporcinos()">Generar</button>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row" *ngIf="!(clienteAray.length || porcinoArray.length)">
        <div class="col-md-2"></div>
        <div class="col-md-8 text-center p-1 text-primary-emphasis  border border-primary-subtle rounded-3">
            <h3>No se permite generar reportes.</h3>
            <h5>Favor ingresar datos a la aplicacion.</h5>
        </div>
        <div class="col-md-2"></div>
    </div> 
</div>